*{
  margin: 0px;
  padding: 0px;
}

:root{
  --cor0: #ffffff;
  --cor1: #000649;
  --cor2: #29477D;
  --cor3: #5B2245;
  --cor4: #994845;
  --cor5: #ECAB09;
  --cor6: #000000;

  --fonte0: Arial, Helvetica, sans-serif;
  --fonte1: "Equinox", sans-serif;
  --fonte2: "Exo2", sans-serif
}

@font-face {
  font-family: "Equinox";
  src: url(fonts/equinox-regular.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Exo2";
  src: url(fonts/Exo2.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

header {
  background-image: url(/images/banner-planetas.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right center;
  padding: 30px;
  text-align: center;
}

header h1{
  font-family: var(--fonte1);
  font-size: 3.8em;
  color: var(--cor6);
  font-weight: bolder;
  margin-bottom: 0px;
  text-align: left;
}

header p{
  font-family: var(--fonte0);
  font-size: 1.3em;
  font-weight: bolder;
  color: var(--cor1);
  margin-top: 20px;
}

nav{
  font-family: var(--fonte1);
  background-image: linear-gradient(to right, var(--cor5), var(--cor4));
  text-align: center;
  padding: 5px;
  font-size: 1.1em;
}
  nav a{
    margin-right: 20px;
    margin-left: 20px;
    padding: 5px;
    color: var(--cor6);
    text-decoration: none;
    font-weight: bold;
    transition-duration: 1s;
  }
  
  nav a:hover{
    background-color: var(--cor6);
    border-radius: 5px;
    color: var(--cor0);
  }